# Local settings for KManga

SECRET_KEY = 'MySecrectKey'

DEBUG = False

ADMINS = [('admin', 'admin@kmanga.net')]

ALLOWED_HOSTS = [
    '.example.com',   # Allow domain and subdomains
    '.example.com.',  # Also allow FQDN and subdomains
]

STATIC_ROOT = '/full/path/static/'

MEDIA_URL = '/media/'
MEDIA_ROOT = '/full/path/media/'

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'kmanga',
        'USER': 'user',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

CONTACT_EMAIL = 'admin@kmanga.net'

RQ_QUEUES = {
    'default': {
        'HOST': 'localhost',
        'PORT': 6379,
        'DB': 0,
        'PASSWORD': 'password',
    },
    'high': {
        'HOST': 'localhost',
        'PORT': 6379,
        'DB': 0,
        'PASSWORD': 'password',
    },
    'low': {
        'HOST': 'localhost',
        'PORT': 6379,
        'DB': 0,
        'PASSWORD': 'password',
    }
}

SCRAPY_ACCOUNTS = {
    'spider': ('username', 'password'),
}
