{% extends "base.html" %}

{% block page_title%}Subscription{% endblock page_title %}
{% block content %}
{% if view.request %}
<p>Hi {{ view.request.user }}</p>
{% else %}
<p>No request</p>
{% endif %}
<ul>
  {% for subscription in object_list|slice:":5" %}
  <li>{{ subscription }}</li>
  <ul>
    {% for history in subscription.history_set.latests|slice:":5" %}
    <li>{{ history }}</li>
    {% empty %}
    <p>No history.</p>
    {% endfor %}
  </ul>
  {% empty %}
  <p>You don't have any subscription yet.</p>
  {% endfor %}
</ul>
{% endblock %}
