{% extends "base.html" %}

{% block page_title %}Password change{% endblock page_title %}
{% block content %}
<form method="post" action="">{% csrf_token %}
  <div class="form-group{% if form.old_password.errors %} has-error has-feedback{% endif %}">
    <label for="old_password">Old password</label>
    <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Old password" aria-describedby="old_password_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="old_password_error" class="sr-only">(error)</span>
    {% if form.old_password.errors %}<span class="help-block">{{ form.old_password.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.new_password1.errors %} has-error has-feedback{% endif %}">
    <label for="new_password1">New password</label>
    <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="New password" aria-describedby="new_password1_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="new_password1_error" class="sr-only">(error)</span>
    <span class="help-block">{{ form.new_password1.help_text|safe }}</span>
    {% if form.new_password1.errors %}<span class="help-block">{{ form.new_password1.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.new_password2.errors %} has-error has-feedback{% endif %}">
    <label for="new_password2">New password confirmation</label>
    <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="New password confirmation" aria-describedby="new_password2_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="new_password2_error" class="sr-only">(error)</span>
    {% if form.new_password2.errors %}<span class="help-block">{{ form.new_password2.errors.as_text }}</span>{% endif %}
  </div>
  <button type="submit" class="btn btn-lg btn-default">Change</button>
</form>
{% endblock %}
