{% extends "base.html" %}

{% block page_title %}Password reset confirm{% endblock page_title %}
{% block content %}
{% if validlink %}
<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
<form method="post" action="">{% csrf_token %}
  <div class="form-group{% if form.new_password1.errors %} has-error has-feedback{% endif %}">
    <label for="new_password1">New password</label>
    <input type="password" class="form-control" id="new_password1" name="new_password1" placeholder="New password" aria-describedby="new_password1_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="new_password1_error" class="sr-only">(error)</span>
    <span class="help-block">{{ form.new_password1.help_text|safe }}</span>
    {% if form.new_password1.errors %}<span class="help-block">{{ form.new_password1.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.new_password2.errors %} has-error has-feedback{% endif %}">
    <label for="new_password2">New password confirmation</label>
    <input type="password" class="form-control" id="new_password2" name="new_password2" placeholder="New password confirmation" aria-describedby="new_password2_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="new_password2_error" class="sr-only">(error)</span>
    {% if form.new_password2.errors %}<span class="help-block">{{ form.new_password2.errors.as_text }}</span>{% endif %}
  </div>
  <button type="submit" class="btn btn-lg btn-default">Change</button>
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}
