{% extends "base.html" %}

{% block page_title %}Register user{% endblock page_title %}
{% block content %}
<form method="post" action="">{% csrf_token %}
  <div class="form-group{% if form.username.errors %} has-error has-feedback{% endif %}">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Username" {% if form.username.value %}value="{{ form.username.value }}"{% endif %} aria-describedby="username_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="username_error" class="sr-only">(error)</span>
    <span class="help-block">{{ form.username.help_text|safe }}</span>
    {% if form.username.errors %}<span class="help-block">{{ form.username.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.email.errors %} has-error has-feedback{% endif %}">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email address" {% if form.email.value %}value="{{ form.email.value }}"{% endif %} aria-describedby="email_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="email_error" class="sr-only">(error)</span>
    {% if form.email.errors %}<span class="help-block">{{ form.email.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.password1.errors %} has-error has-feedback{% endif %}">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" name="password1" placeholder="Password" aria-describedby="password1_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="password1_error" class="sr-only">(error)</span>
    {% if form.password1.errors %}<span class="help-block">{{ form.password1.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.password2.errors %} has-error has-feedback{% endif %}">
    <label for="password2">Password confirmation</label>
    <input type="password" class="form-control" id="password2" name="password2" placeholder="Password confirmation" aria-describedby="password2_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="password2_error" class="sr-only">(error)</span>
    <span class="help-block">{{ form.password2.help_text|safe }}</span>
    {% if form.password2.errors %}<span class="help-block">{{ form.password2.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.language.errors %} has-error{% endif %}">
    <label for="language">Preferred language</label>
    <select id="language" name="language" class="form-control">
      {% for language in language_choices %}
      <option value="{{ language.0 }}" {% if language.0 == form.language.value %}selected="1"{% endif %}>{{ language.1}}</option>
      {% endfor %}
    </select>
    {% if form.language.errors %}<span class="help-block">{{ form.language.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.email_kindle.errors %} has-error has-feedback{% endif %}">
    <label for="email_kindle">Kindle email</label>
    <input type="email" class="form-control" id="email_kindle" name="email_kindle" placeholder="Email Kindle" {% if form.email_kindle.value %}value="{{ form.email_kindle.value }}"{% endif %} aria-describedby="email_kindle_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="email_kindle_error" class="sr-only">(error)</span>
    <span class="help-block">Add <strong>kindle@kmanga.net</strong> in the list of email address authorized to send personal documents.</span>
    {% if form.email_kindle.errors %}<span class="help-block">{{ form.email_kindle.errors.as_text }}</span>{% endif %}
  </div>
  <button type="submit" class="btn btn-lg btn-default">Register</button>
</form>
{% endblock content %}
