{% extends "base.html" %}

{% block page_title %}User profile{% endblock page_title %}
{% block content %}
<form method="post" action="">{% csrf_token %}
  <div class="form-group{% if form.first_name.errors %} has-error has-feedback{% endif %}">
    <label for="first_name">First name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First name" value="{{ object.first_name }}" aria-describedby="first_name_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="first_name_error" class="sr-only">(error)</span>
    {% if form.first_name.errors %}<span class="help-block">{{ form.first_name.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.last_name.errors %} has-error has-feedback{% endif %}">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last name" value="{{ object.last_name }}" aria-describedby="last_name_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="last_name_error" class="sr-only">(error)</span>
    {% if form.last_name.errors %}<span class="help-block">{{ form.last_name.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.email.errors %} has-error has-feedback{% endif %}">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Email address" value="{{ object.email }}" aria-describedby="email_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="email_error" class="sr-only">(error)</span>
    {% if form.email.errors %}<span class="help-block">{{ form.email.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.language.errors %} has-error{% endif %}">
    <label for="language">Preferred language</label>
    <select id="language" name="language" class="form-control">
      {% for language in object.userprofile.LANGUAGE_CHOICES %}
      <option value="{{ language.0 }}" {% if object.userprofile.language == language.0 %}selected="1"{% endif %}>{{ language.1}}</option>
      {% endfor %}
    </select>
    {% if form.language.errors %}<span class="help-block">{{ form.language.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.time_zone.errors %} has-error{% endif %}">
    <label for="time_zone">Time zone</label>
    <select id="time_zone" name="time_zone" class="form-control">
      {% for time_zone in object.userprofile.TIME_ZONE_CHOICES %}
      <option value="{{ time_zone.0 }}" {% if object.userprofile.time_zone == time_zone.0 %}selected="1"{% endif %}>{{ time_zone.1}}</option>
      {% endfor %}
    </select>
    <span class="help-block">Time zone that applies to the send subscription time.</span>
    {% if form.time_zone.errors %}<span class="help-block">{{ form.time_zone.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.send_at.errors %} has-error{% endif %}">
    <label for="send_at">Time when send daily subscription</label>
    <select id="send_at" name="send_at" class="form-control">
      {% for hour in object.userprofile.HOUR_CHOICES %}
      <option value="{{ hour.0 }}" {% if object.userprofile.send_at == hour.0 %}selected="1"{% endif %}>{{ hour.1}}</option>
      {% endfor %}
    </select>
    {% if form.send_at.errors %}<span class="help-block">{{ form.send_at.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group{% if form.email_kindle.errors %} has-error has-feedback{% endif %}">
    <label for="email_kindle">Kindle email</label>
    <input type="email" class="form-control" id="email_kindle" name="email_kindle" placeholder="Email Kindle" value="{{ object.userprofile.email_kindle }}" aria-describedby="email_kindle_error">
    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    <span id="email_kindle_error" class="sr-only">(error)</span>
    {% if form.email_kindle.errors %}<span class="help-block">{{ form.email_kindle.errors.as_text }}</span>{% endif %}
  </div>
  <div class="form-group">
    <label for="issues_per_day">Issues per day</label>
    <span class="form-control" id="issues_per_day">{{ object.userprofile.issues_per_day }} (today's remaining: {{ object.userprofile.remains }})</span>
  </div>
  <input type="hidden" name="password">
  <p><a href="{% url 'password_change' %}">Change your password</a></p>
  <p><a href="{% url 'user-delete' %}" class="text-danger">Remove your account</a></p>
  <button type="submit" class="btn btn-lg btn-default">Update</button>
</form>
{% endblock content %}
