{% extends "base.html" %}

{% block page_title%}Password Reset Confirm{% endblock page_title %}
{% block content %}

{% if validlink %}

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post" action="{% url 'django.contrib.auth.views.password_reset_confirm' %}">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-lg btn-default">Update</button>
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

{% endblock %}
