{% load thumbnail %}

<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="{{ manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ manga }}" height="360" width="270" />
    </div>
  </div>
  <div class="col-xs-8">
    <h3>Description</h3>
    <p>{{ manga.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <h3>Issues</h3>
    <table class="table table-hover">
      <caption>List of issues</caption>
      <thead>
	<tr>
	  <th>name</th>
	  <th>language</th>
	  <th>sent</th>
	</tr>
      </thead>
      <tbody>
	{% for issue in manga.issue_set.all %}
	<tr>
	  <td><a href="issue.url">{{ issue.name }}</a></td>
	  <td>{{ issue.language }}</td>
	  <td>.</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
