{% extends "base.html" %}

{% block page_title %}About{% endblock page_title %}
{% block content %}
<p>KManga is a service where you can read your favorites mangas in your kindle.</p>

<p>We are in BETA mode, so expect problems in the service. If you find some issues you can contact us via the <a href="{% url 'contact' %}">contact form</a>.</p>

<h3>Help</h3>
<ol>
  <li>Set your kindle email in your user settings.</li>
  <li>Allow your amazon account to receive emails from <strong>kindle@kmanga.net</strong>.</li>
  <li>Use the search box to find your manga and subscribe to it.</li>
  <li>Configure the subscription language and number of issues per day.</li>
  <li>Configure in your <a href="{% url 'user-update' %}">profile</a> your time
      zone and the UTC time when your subscription will be sent.</li>
</ol>

<p>The system will send you a maximum of 30 issues per day, but there is no limit of the number of subscriptions that you can create.</p>

<p>Check the <em>Action</em> select box to change the status of the issues, and to manually send a list of issues.</p>

<h3>Source code</h3>
<p>The source code of <em>kmanga.net</em> is available in <a href="http://github.com/aplanas/kmanga">GitHub</a>.</p>

<p>Also, one disclaimer, kmanga does not store any manga. It only downloads the
images from the different sources and builds a MOBI document specific for the subscriber.</p>
{% endblock content %}
