{% extends "base.html" %}
{% load kmanga %}
{% load thumbnail %}

{% block page_title%}{{ object.name }} <a href="{{ object.url }}" class="label label-default">{{ object.source.name }}</a>{% endblock page_title %}
{% block content %}
<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="{{ manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ manga }}" height="360" width="270">
    </div>
  </div>
  <div class="col-xs-8">
    <h3>Description</h3>
    <p>{{ object.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-4">
    <form method="post" action="{% url 'subscription-create' %}">{% csrf_token %}
      <input type="hidden" name="manga" value="{{ object.pk }}">
      <input type="hidden" name="user" value="{{ request.user.pk }}">
      <input type="hidden" name="language" value="{{ request.user.userprofile.language }}">
      <button type="submit" class="btn btn-lg btn-default">Subscribe</button>
    </form>
  </div>
</div>
{% endblock content %}
