{% extends "base.html" %}
{% load kmanga %}
{% load thumbnail %}

{% block page_title%}Manga Search <small>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>{% endblock page_title %}
{% block content %}
{% for manga in object_list %}
  {% if forloop.first %}
<div class="row">
  {% endif %}
  <div class="col-xs-4">
    <div class="thumbnail">
      {% if manga|is_subscribed:view.request.user %}
      <a href="{% url 'subscription-read' manga|subscription:view.request.user %}">
      {% else %}
      <a href="{% url 'manga-read' manga.pk %}">
      {% endif %}
	<img src="{{ manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ manga }}" height="360" width="270">
      </a>
      <div class="caption">
	<h3>{{ manga.name }} <a href="{{ manga.url }}" class="label label-default">{{ manga.source.name }}</a></h3>
	{% if manga|is_subscribed:view.request.user %}
	<p><a href="#" class="btn btn-default disable" role="button">Subscribed <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></p>
	{# else #}
	<!-- <p><a href="#" class="btn btn-default" role="button">Subscribe <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></p> -->
	{% endif %}
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% if forloop.last %}
</div>
  {% endif %}
{% endfor %}

<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a {% if q %}href="?page={{ page_obj.previous_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Previous</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a {% if q %}href="?page={{ page_obj.next_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}
