{% extends "base.html" %}
{% load kmanga %}
{% load thumbnail %}

{% block page_title %}Manga search <small>page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</small>{% endblock page_title %}
{% block content %}
{% for manga in object_list %}
  {% if forloop.first %}
<div class="row">
  {% endif %}
  <div class="col-xs-4">
    <div class="thumbnail">
      {% if manga|is_subscribed:user %}
      <a href="{% url 'subscription-read' manga|subscription_pk:user %}">
      {% else %}
      <a href="{% url 'manga-read' manga.pk %}">
      {% endif %}
	<img src="{{ manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ manga }}" height="360" width="270">
      </a>
      <div class="caption">
	<h3>{{ manga.name }} <a href="{{ manga.url }}" class="label label-default">{{ manga.source.name }}</a></h3>
	<ul class="nav nav-pills" role="tablist">
	  {% if not manga.source.enabled %}
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Source is disabled">
	      <span class="label label-warning">Disabled</span>
	    </div>
	  </li>
	  {% endif %}
	  {% if manga|is_subscribed:user %}
	  <li class="pill" role="presentation">
	    <span class="label label-info">Subscribed</span>
	  </li>
	  {% endif %}
	  {% for lang in manga.languages %}
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Issues per language">
	      {{ lang.language }} <span class="badge">{{ lang.language__count }}</span>
	    </div>
	  </li>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% if forloop.last %}
</div>
  {% endif %}
{% endfor %}

<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a {% if q %}href="?page={{ page_obj.previous_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Previous</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a {% if q %}href="?page={{ page_obj.next_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}

{% block extra_js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock extra_js %}
