{% extends "base.html" %}
{% load kmanga %}
{% load thumbnail %}

{% block page_title %}{{ object.name }} <a href="{{ object.url }}" class="label label-default">{{ object.source.name }}</a>{% endblock page_title %}
{% block content %}
<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="{{ manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ manga }}" height="360" width="270">
    </div>
  </div>
  <div class="col-xs-8">
    <h3>Description</h3>
    <p>{{ object.description }}</p>
  </div>
</div>
{% if not object.source.enabled %}
<div class="row">
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>Warning!</strong> This source is disabled. We can't send issues to your kindle for now. Consider looking for an alternative source.
  </div>
</div>
{% else %}
<div class="row">
  <form method="post" action="{% url 'subscription-create' %}" class="form-inline">{% csrf_token %}
    <input type="hidden" name="manga" value="{{ object.pk }}">
    <input type="hidden" name="user" value="{{ user.pk }}">
    <label for="language">Language</label>
    <select id="language" name="language" class="form-control">
      {% for language in object.languages %}
      <option value="{{ language.language }}" {% if user.userprofile.language == language.language %}selected="selected"{% endif %}>{{ language.language }} ({{ language.language__count }} issues)</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-lg btn-default">Subscribe</button>
  </form>
</div>
{% endif %}
{% endblock content %}
