{% extends "base.html" %}
{% load thumbnail %}

{% block page_title%}Subscription <small>for user {{ view.request.user }}</small>{% endblock page_title %}
{% block content %}
{% for subscription in object_list %}
  {% if forloop.first %}
<div class="row">
  {% endif %}
  <div class="col-xs-4">
    <div class="thumbnail">
      <a href="{% url 'subscription-read' subscription.pk %}">
	<img src="{{ subscription.manga.cover|thumbnail_url:'cover' }}" alt="{{ subscription.manga }}" height="360" width="270">
      </a>
      <div class="caption">
	<h3>{{ subscription.manga.name }} <a href="{{ subscription.manga.url }}" class="label label-default">{{ subscription.manga.source.name }}</a></h3>

	<ul>
	  {% for history in subscription.history_set.latests|slice:":5" %}
	  <li>
	    {% if history.is_pending %}
	    <span class="text-muted">
	    {% elif history.is_processing %}
	    <span class="text-warning">
	    {% elif history.is_sent %}
	    <span class="text-success">
	    {% elif history.is_failed %}
	    <span class="text-danger">
	    {% else %}
	    <span class="text-success">
	    {% endif %}
	    {{ history }}
	    </span>
	  </li>
	  {% empty %}
	  <p>No history.</p>
	  {% endfor %}
	</ul>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% if forloop.last %}
</div>
  {% endif %}
{% empty %}
<p>You don't have any subscription yet.</p>
{% endfor %}

<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a {% if q %}href="?page={{ page_obj.previous_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Previous</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a {% if q %}href="?page={{ page_obj.next_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
