{% extends "base.html" %}
{% load kmanga %}
{% load thumbnail %}

{% block page_title%}{{ object.manga.name }} <a href="{{ object.manga.url }}" class="label label-default">{{ object.manga.source.name }}</a>{% endblock page_title %}
{% block content %}
<div class="row">
  <div class="col-xs-4">
    <div class="thumbnail">
      <img src="{{ object.manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ manga }}" height="360" width="270">
    </div>
  </div>
  <div class="col-xs-8">
    <h3>Description</h3>
    <p>{{ object.manga.description }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <h3>Issues</h3>
    <table class="table table-hover">
      <caption>List of issues</caption>
      <thead>
	<tr>
	  <th>number</th>
	  <th>name</th>
	  <th>language</th>
	  <th>sent</th>
	</tr>
      </thead>
      <tbody>
	{% for issue in object.manga.issue_set.all %}
	<tr>
	  <th scope="row">{{ issue.number }}</th>
	  <td><a href="{{ issue.url }}">{{ issue.name }}</a></td>
	  <td>{{ issue.language }}</td>
	  <td>.</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-xs-4">
    <form method="post" action="{% url 'subscription-update' object.pk %}">{% csrf_token %}
      <div class="form-group">
	<label for="issues_per_day">Issues per day</label>
	<input id="issues_per_day" name="issues_per_day" class="form-control" value="{{ object.issues_per_day }}">
      </div>
      <div class="checkbox">
	<label>
	  <input name="paused" type="checkbox" {% if object.paused %}checked="checked"{% endif %}> Pause
	</label>
      </div>
      <button type="submit" class="btn btn-default">Update</button>
    </form>
    <hr>
    <a href="{% url 'subscription-delete' object.pk %}" class="btn btn-default" role="button">Unsubscribe <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
  </div>
</div>
{% endblock content %}
