{% extends "base.html" %}
{% load thumbnail %}

{% block page_title %}Subscription <small>for user {{ user }}</small>{% endblock page_title %}
{% block content %}
{% for subscription in object_list %}
  {% if forloop.first %}
<div class="row">
  {% endif %}
  <div class="col-xs-4">
    <div class="thumbnail">
      <a href="{% url 'subscription-read' subscription.pk %}">
	<img src="{{ subscription.manga.cover|default:'default_cover.png'|thumbnail_url:'cover' }}" alt="{{ subscription.manga }}" height="360" width="270">
      </a>
      <div class="caption">
	<h3>{{ subscription.manga.name }} <span class="badge">{{ subscription.language }}</span> <a href="{{ subscription.manga.url }}"><span class="badge">{{ subscription.manga.source.name }}</span></a></h3>
	<ul class="nav nav-pills" role="tablist">
	  {% if not subscription.manga.source.enabled %}
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Source is disabled">
	      <span class="label label-warning">Disabled</span>
	    </div>
	  </li>
	  {% endif %}
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Issues sent">
	      <span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span><span class="badge">{{ subscription.result_set.sent.count }}</span>
	    </div>
	  </li>
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Issues failed">
	      <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span><span class="badge">{{ subscription.result_set.failed.count }}</span>
	    </div>
	  </li>
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Total issues">
	      <span class="glyphicon glyphicon-plus text-info" aria-hidden="true"></span><span class="badge">{{ subscription.issues.count }}</span>
	    </div>
	  </li>
	  <li class="pill" role="presentation">
	    <div data-toggle="tooltip" data-placement="top" title="Issues per day">
	      {% if subscription.paused %}
	      <span class="glyphicon glyphicon-pause text-default" aria-hidden="true"></span><span class="badge">{{ subscription.issues_per_day }}</span>
	      {% else %}
	      <span class="glyphicon glyphicon-play text-default" aria-hidden="true"></span><span class="badge">{{ subscription.issues_per_day }}</span>
	      {% endif %}
	    </div>
	  </li>
	</ul>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:3 %}
</div>
<div class="row">
  {% endif %}
  {% if forloop.last %}
</div>
  {% endif %}
{% empty %}
<p>You don't have any subscription yet.</p>
{% endfor %}

<nav>
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a {% if q %}href="?page={{ page_obj.previous_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.previous_page_number }}"{% endif %}>Previous</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Previous</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a {% if q %}href="?page={{ page_obj.next_page_number }}&q={{ q }}"{% else %}href="?page={{ page_obj.next_page_number }}"{% endif %}>Next</a>
    </li>
    {% else %}
    <li class="disabled"><a href="#" onclick="javascript:return false;">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}

{% block extra_js %}
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>
{% endblock extra_js %}
